/* ==========================================================================
   Library page components.
   ========================================================================== */

.l-content--library {
	position: relative;
}

.library__status {
	@include break;
	padding: 1.5em;
}

.library__filters__header {
	color: $white;
	background: $darkBlue;
	margin: 0;
	padding: 0.75em 1em;
}

.library__filters__clear {
	color: $white;
	font-weight: normal;
}

.library__filters {
	padding: 0.5em 1em;
}

.library__filters__filter {
	display: inline-block;
	padding: 0.25em 0;
	width: 100%;

	&:hover {
		color: $orange;
		cursor: pointer;
	}

	input {
		margin-right: 0.5em;
	}
}

.library__guides {
	border-top: 10px solid $blue;
}