/* ==========================================================================
   Queue link
   ========================================================================== */

.queue-link {
  display: inline-block;

  &.dme-font-plus:hover:before {
    color: $green;
  }

  &.dme-font-check {
    &:before {
      color: $green;
    }

    &:hover:before {
      color: $red;
      content: "\e014";
    }
  }
}