/* ==========================================================================
   Full width banners
   ========================================================================== */

.banner {
  margin-bottom: 2.5em;
  padding: 2.5em 0;

  h1, p, a {
    color: $white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $orange;
    }
  }
}

.bannerFirst {
  margin-top: 2.5em;
}

.bannerBlue {
  background: $blue;
}