/* ==========================================================================
   Full width banners
   ========================================================================== */

.banner {
  margin-bottom: 2.5em;
  padding: 2.5em 0;

  h1, p, a {
    color: $white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $orange;
    }
  }

  > .container {
    position: relative;
  }
}

.bannerTop {
  margin-top: -2.5em;
}

.bannerBlue {
  background: $blue;
}

.bannerClose {
  position: absolute;
  top: 0;
  right: 1em;
}