/* ==========================================================================
   Button
   ========================================================================== */

.btn {
	@extend .borderRadius;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	padding: 0.75em 2em;
	text-align: center;
	white-space: nowrap;
}

.btnDefault {
	background: $silver;
}

.btnPrimary {
	background: $blue;
	color: $white;

	&:hover {
		background: $orange;
		color: $white;
	}
}

.btnSecondary {
	background: $orange;
	color: $white;

	&:hover {
		background: $blue;
		color: $white;
	}
}