/* ==========================================================================
   Header
   ========================================================================== */

.header {
  background: $white;
  border-bottom: 1px solid $silverBorder;
  padding: 1em 0;
}

.header__logo {
  display: block;
  height: 38px;
  overflow: hidden;
  text-indent: -9999px;
  width: 177px;
}

.header__menu {
  clear: left;
  display: none;
  margin: 0;
  padding-top: 1em;

  &.open {
    display: block;
  }

  li {
    border-bottom: 1px solid $silverBorder;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    font-size: 1.25em;
    padding: 0.5em 0;
  }
}

.header__mobile-menu {
  float: right;
  margin-top: 0.5em;

  a {
    padding: 0.5em 1.5em 0 0;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 0;
      width: 1em;
      top: 0;

      // Shh, don't tell, but box-shadows create the menu icon :)
      @include box-shadow(0 10px 0 1px $blue,
                          0 16px 0 1px $blue,
                          0 22px 0 1px $blue);
    }
  }
}

// Responsive layout.
@include breakpoint($mediumBreakpoint) {
  .header {
    padding: 2em 0;
  }

  .header__menu {
    clear: none;
    display: block;
    float: right;
    padding-top: 0;

    li {
      border-bottom: none;
      display: inline-block;
    }

    a {
      border: 1px solid transparent;
      display: block;
      font-size: 1em;
      padding: 0.25em 1em;

      &.active,
      &:hover {
        background: $silver;
        border-color: $silverBorder;
        color: $orange;
      }
    }
  }

  .header__mobile-menu {
    display: none;
  }
}