/* ==========================================================================
   Loading indicator
   ========================================================================== */

.loading {
  @include box-shadow(0 0 5px $silver);
  background: url('../assets/progress.gif') no-repeat center center $silver;
  border: 1px solid $silverBorder;
  font-weight: bold;
  height: 100px;
  left: 50%;
  margin: 1em 0 0 -50px;
  padding: 1em;
  position: absolute;
  text-align: center;
  width: 100px;
}