/* ==========================================================================
   Loading indicator
   ========================================================================== */

.loading {
  @include border-radius($globalRadius);
  @include opacity(0.95);
  background: url('../assets/progress.gif') no-repeat center center #00293f;
  height: 100px;
  left: 50%;
  margin: 1em 0 0 -50px;
  position: absolute;
  text-align: center;
  width: 100px;
}