/* ==========================================================================
   Media objects
   ========================================================================== */

.media__list {
	padding: 1em;
}

.media {
	border-bottom: 1px solid $silverBorder;
	margin-bottom: 1em;
	padding-bottom: 1em;
	overflow: hidden;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0.5em;
	}
}

.media__object {
	display: block;
	margin-bottom: 1em;
	position: relative;
	width: 100%;

	&:hover .dme-font-play:before {
		@include opacity(1.0);
		background-color: $orange;
	}

	img {
		display: block;
		width: 100%;
	}

	.dme-font-play {
		left: 50%;
		margin-left: -24px;
		margin-top: -10px;
		position: absolute;
		top: 50%;

		&:before {
			padding: 0.5em 1em;
		}
	}

	.media__object__labels i {
		position: absolute;
		right: 0.5em;

		&:last-child {
			top: 2em;
		}

		&:first-child {
			top: 0.5em;
		}
	}
}

.media__title {
	margin: 0;
}

.media__subtitle {
	@extend .small-text;
	color: $lightCharcoal;
	font-style: italic;
}

.media__description {
	@extend .small-text;
	line-height: 1.4em;
	margin-bottom: 0.25em;
}

.media__links {
	@extend .small-text;
	@extend .inline-list;
	margin: 0;

	a {
		color: $lightCharcoal;
		display: inline-block;

		&:before {
			color: $lightestCharcoal;
			font-size: 1.1em;
		}

		&:hover:before {
			color: $lightCharcoal;
		}
	}
}

.media__watched-count {
	color: $green;
}

@include breakpoint($smallBreakpoint) {
	.media__object {
		float: left;
		width: 150px;
	}

	.media__body {
		margin-left: 150px;
		padding-left: 1em;
	}
}

@include breakpoint($mediumBreakpoint) {
	.media__object {
		width: 200px;
	}

	.media__body {
		margin-left: 200px;
	}
}