//
// Media styles are ideal for building lists or grids of components like on the
// library page.
//

.media {
	padding: 1em 0;
}

.media-image {

}

.media-title {

}

.media-subtitle {

}

.media-description {

}

.media-links {

}

.media-view--grid {
	.media {
		@include gallery(6 of 12);
	}
}

.media-view--list {
	padding: 1.5em;

	.media {
		border-bottom: 1px solid $silver-border;

		&:last-child {
			border-bottom: none;
		}
	}
}

.media-view-selector {
	cursor: pointer;
}
