/* ==========================================================================
   Social links
   ========================================================================== */

.social-links {
  height: 25px;
  margin: 2em 0;

  li {
    display: inline-block;
  }

  a {
    @include opacity(1.0);
    color: $orange;
    display: block;
    line-height: 1em;

    &:before {
      font-size: 1.75em;
    }

    &:hover {
      @include opacity(0.8);
    }

    span {
      text-indent: -9999px;
    }
  }
}