/* ==========================================================================
   Drupalize.Me template
   ========================================================================== */

// We sprite any images that appear on every page.
@import "template/*.png";
@import "template2x/*.png";
@include all-template-sprites;
@include all-retina-sprites($template-sprites, $template2x-sprites);

// Base styles.
html,
body {
  background: $silver;
}

// Header section.
.header {
  background: $white;
  border-bottom: 1px solid $silverBorder;
  padding: 1em 0;
}

.menu {
  clear: left;
  display: none;
  margin: 0;
  padding-top: 1em;

  &.open {
    display: block;
  }

  li {
    border-bottom: 1px solid $silverBorder;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    font-size: 1.25em;
    padding: 0.5em 0;
  }
}

.logo {
  display: block;
  height: 38px;
  overflow: hidden;
  text-indent: -9999px;
  width: 177px;
}

.responsiveMenu {
  margin-top: 0.5em;

  a {
    padding: 0.5em 1.5em 0 0;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 0;
      width: 1em;
      top: 0;

      // Shh, don't tell, but box-shadows create the menu icon :)
      @include box-shadow(0 10px 0 1px $blue,
                          0 16px 0 1px $blue,
                          0 22px 0 1px $blue);
    }
  }
}

// Main content section.
.main {
  background: $silver;
  padding: 2em 0;
}

// Footer section.
.footer {
  background: $silver;
  border-top: 1px solid $silverBorder;
  padding: 2em 0;
}

.copyright {
  font-size: 0.8em;
}

.socialLinks {
  height: 25px;
  margin: 2em 0;

  li {
    display: inline-block;
  }

  a {
    display: block;
    height: 25px;
    overflow: hidden;
    text-indent: -99999px;
    width: 25px;

    &:hover {
      @include opacity(0.8);
    }
  }
}

.footerMenu {
  margin: 0;

  li {
    a {
      display: block;
      font-weight: normal;
      padding: 0.5em 0;
    }
  }
}

// Responsive layout.
@include breakpoint($breakpointMedium) {
  .header {
    padding: 2em 0;
  }

  .menu {
    clear: none;
    display: block;
    float: right;
    padding-top: 0;

    li {
      border-bottom: none;
      display: inline-block;
    }

    a {
      border: 1px solid transparent;
      display: block;
      font-size: 1em;
      padding: 0.25em 1em;

      &.active,
      &:hover {
        background: $silver;
        border-color: $silverBorder;
        color: $orange;
      }
    }
  }

  .responsiveMenu {
    display: none;
  }

  .footerMenu {
    li {
      display: inline-block;

      a {
        font-size: 0.9em;
        padding: 0;

        &:after {
          content: '//';
          color: $silverBorder;
          margin: 0 0.5em;
        }
      }

      &:last-child {
        a {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}