/* ==========================================================================
   Text alignment
   ========================================================================== */

// Horizontal
.txtL {
  text-align: left;
}

.txtR {
  text-align: right;
}

.txtC {
  text-align: center;
}

// Vertical
.txtT {
  vertical-align: top;
}

.txtB {
  vertical-align: bottom;
}

.txtM {
  vertical-align: middle;
}