/* ==========================================================================
   Defines the default grid layout components.
   ========================================================================== */

$susy: (
  columns: 12,
  column-width: 4.5em
);

@include global-box-sizing(border-box);

.l-main {
  padding: 2.5em 0;
}

.l-container {
  @include container($siteWidth);
  @include pad(1em);
}

@include breakpoint($mediumBreakpoint) {
  .l-container--sidebar {
    .l-content {
      margin-right: span(3 static wide);
    }
  }

  .l-sidebar {
    @include span(last 3 static);
  }
}
