.playlistLoading {
	padding: 1em 2em;
}

.playlistContent {
	@extend %scrollbar;
  background: white;
	font-weight: bold;
  font-size: .85em;
  max-height: 330px;
  overflow-y: auto;
}

.playlist {
  margin: 0;
  padding: 0;

  li {
  	border-bottom: 1px solid $silverBorder;
  	list-style: none;
  	position: relative;

    &:last-child {
      border-bottom: 0;
    }

    &.active {
      background: $green;
      color: $white;

      .playlistProgress {
        color: $white;
      }

      .playlistCount {
        height: 16px;
        text-align: left;
        text-indent: -9999px;
        top: 1.25em;
        width: 16px;
      }

      .playlistDuration {
        color: $white;
      }
    }
  }

  a {
  	display: block;
  	padding: 1em 4.25em 1em 3.5em;

    &:hover {
      background: $silver;
    }
  }
}

.playlistCount {
	color: #555;
	left: 1.5em;
	position: absolute;
	text-align: right;
	width: 1em;
}

.playlistMeta {
	@extend .txtSmall;
	color: $lightestCharcoal;
}

.playlistDuration {
	@extend .txtSmall;
  color: $lightestCharcoal;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}

.playlistDark {
	.playlistContent {
		background: $silver;
		border: 1px solid $silverBorder;
		margin-top: 1em;
	}

	.playlist {
		a:hover {
			background: $white;
		}
	}
}
