/* ==========================================================================
   Playlist
   ========================================================================== */

.playlist__loading {
	padding: 1em 2em; // TODO needed?
}

.playlist__content {
  @include break;
	@extend .scrollbar;
  @extend .small-text;
  background: white;
	font-weight: bold;
  max-height: 330px;
  overflow-y: auto;
}

.playlist {
  margin: 0;
  padding: 0;
}

.playlist--dark {
  .playlist__content {
    background: $silver;
    border: 1px solid $silverBorder;
    margin-top: 1em;
  }

  .playlist {
    a:hover {
      background: $white;
    }
  }
}

.playlist__item {
  border-bottom: 1px solid $silverBorder;
  list-style: none;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }

  &.is-active {
    background: $green;
    color: $white;

    .playlist__item__count {
      height: 1em;
      text-align: left;
      text-indent: -9999px;
      top: 1.25em;
    }

    .playlist__item__duration {
      color: $white;
    }
  }
}

.playlist__item__link {
  display: block;
  padding: 1em 4.25em 1em 3.5em;

  &:not([href]) {
    color: $charcoal;
  }

  &:hover {
    background: $silver;
  }
}

.playlist__item__count {
	color: $lightCharcoal;
	left: 1.5em;
	position: absolute;
	text-align: right;
	width: 1em;
}

.playlist__item__meta {
  // TODO needed?
	@extend .small-text;
	color: $lightestCharcoal;
}

.playlist__item__duration {
	@extend .small-text;
  color: $lightestCharcoal;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}