/* ==========================================================================
   Form base styles.
   ========================================================================== */

// Text field
input[type=text] {
  color: $charcoal;
  font-size: 0.9em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: auto;
}

// Select with a label next to it
label + select {
  margin-left: 0.5em;
}
