/* ==========================================================================
   List base styles.
   ========================================================================== */

ul,
ol {
  margin-bottom: 0.75em;

  li {
    ul,
    ol {
      list-style: inherit;
      margin-bottom: 0;
    }
  }
}

ul {
  margin-left: 1.2em;
}

ol {
  margin-left: 1.5em;
}