/* ==========================================================================
   Pager
   ========================================================================== */
.pager {
	margin-top: 1em;

	> a,
	> span {
		background: $white;
		border: 1px solid $silverBorder;
		display: inline-block;
		font-weight: normal;
		padding: 0.25em 0.75em;
	}

	> a:hover {
		background: $blue;
		color: $white;
	}

	> span {
		color: $charcoal;
	}
}

.pager__arrow {
	font-size: 0.75em;
	vertical-align: middle;
}