<div class="container">
  <h1>Style guide</h1>
  <p>
    Welcome! This page is a reference for internal Drupalize.Me developers and is not for public consumption.
    You'll find all of the different components that make up our pages kick ass demonstrated below!
  </p>
  <p>
    <strong>Note:</strong> This page is a work in progress and we're only adding new components when we actually implement them into the app.
  </p>
  <hr>

  <h3 id="type">Headers</h3>
  <h1>h1. This is a very large header.</h1>
  <h2>h2. This is a large header.</h2>
  <h3>h3. This is a medium header.</h3>
  <h4>h4. This is a moderate header.</h4>
  <h5>h5. This is a small header.</h5>
  <h6>h6. This is a tiny header.</h6>
  <hr>

  <h3 id="lists">Lists</h3>
  <h5>Inline lists are great for menus</h5>
  <ul class="listInline">
    <li>
      <a href="#">Link 1</a>
    </li>
    <li>
      <a href="#">Link 2</a>
    </li>
    <li>
      <a href="#">Link 3</a>
    </li>
    <li>
      <a href="#">Link 4</a>
    </li>
    <li>
      <a href="#">Link 5</a>
    </li>
  </ul>
  <h5>Un-ordered lists are great for making quick outlines bulleted.</h5>
  <ul class="disc">
    <li>
      List item with a much longer description or more content.
    </li>
    <li>
      List item
    </li>
    <li>
      List item
      <ul>
        <li>
          Nested List Item
        </li>
        <li>
          Nested List Item
        </li>
        <li>
          Nested List Item
        </li>
      </ul>
    </li>
    <li>
      List item
    </li>
    <li>
      List item
    </li>
    <li>
      List item
    </li>
  </ul>
  <h5>Ordered lists are great for lists that need order, duh.</h5>
  <ol>
    <li>
      List Item 1
    </li>
    <li>
      List Item 2
    </li>
    <li>
      List Item 3
    </li>
  </ol>
  <hr>

  <h3 id="blockquote">Blockquote</h5>
  <blockquote>
    I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite>
  </blockquote>
  <hr>

  <h3 id="panel">Panel</h3>
  <div style="background: #f5f5f5;padding:1.5em;">
    <div class="panel panelPadded">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>