//
// This file contains style that is used globally on our site usually relating
// directly to DOM in our index.html template and any utility classes.
//

// We sprite any images that appear on every page.
@import "global/*.png";
@import "global2x/*.png";
@include all-global-sprites;
@include all-retina-sprites($global-sprites, $global2x-sprites);

// Base styles.
html,
body {
  background: $silver;
}

body {
  color: $charcoal;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
}

// Header section.
.l-header {
  background: $white;
  border-bottom: 1px solid $silver-border;
  padding: 1em 0;
}

.l-header-menu {
  clear: left;
  display: none;
  margin: 0;
  padding-top: 1em;

  &.open {
    display: block;
  }

  li {
    border-bottom: 1px solid $silver-border;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    font-size: 1.25em;
    padding: 0.5em 0;
  }
}

.site-logo {
  display: block;
  height: 38px;
  overflow: hidden;
  text-indent: -9999px;
  width: 177px;
}

.toggle-responsive-nav {
  margin-top: 0.5em;

  a {
    padding: 0.5em 1.5em 0 0;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 0;
      width: 1em;
      top: 0;

      // Shh, don't tell, but box-shadows create the menu icon :)
      @include box-shadow(0 10px 0 1px $blue,
                          0 16px 0 1px $blue,
                          0 22px 0 1px $blue);
    }
  }
}

// Main content section.
.l-main {
  background: $silver;
  padding: 2em 0;
}

// Footer section.
.l-footer {
  background: $silver;
  border-top: 1px solid $silver-border;
  padding: 2em 0;

  .copyright {
    font-size: 0.8em;
  }

  .social-links {
    height: 25px;
    margin: 2em 0;

    li {
      display: inline-block;
    }

    a {
      display: block;
      height: 25px;
      overflow: hidden;
      text-indent: -99999px;
      width: 25px;

      &:hover {
        @include opacity(0.8);
      }
    }
  }
}

.l-footer-menu {
  margin: 0;

  li {
    a {
      display: block;
      font-weight: normal;
      padding: 0.5em 0;
    }
  }
}

// Responsive layout.
@include breakpoint($medium-min) {
  .l-header {
    padding: 2em 0;
  }

  .l-header-menu {
    clear: none;
    display: block;
    float: right;
    padding-top: 0;

    li {
      border-bottom: none;
      display: inline-block;
    }

    a {
      border: 1px solid transparent;
      display: block;
      font-size: 1em;
      padding: 0.25em 1em;

      &.active,
      &:hover {
        background: $silver;
        border-color: $silver-border;
        color: $orange;
      }
    }
  }

  .toggle-responsive-nav {
    display: none;
  }

  .l-footer-menu {
    li {
      display: inline-block;

      a {
        font-size: 0.9em;
        padding: 0;

        &:after {
          content: '//';
          color: $silver-border;
          margin: 0 0.5em;
        }
      }

      &:last-child {
        a {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}

//
// Utility classes.
//
.left {
  float: left !important;
}

.right {
  float: right !important;
}

.panel {
  background: $white;
  border-bottom: 5px solid $silver-border;
}

// Allows us to cloak elements until AngularJS has loaded.
// See https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
