//
// Layout styles that define our default Susy responsive grid.
//

$susy: (
  columns: 12,
  column-width: 4.5em
);

@include global-box-sizing(border-box);

.l-container {
  @include container($site-width);
  @include pad(1em);
}

@include breakpoint($medium) {
  .l-container--sidebar {
    .l-content {
      margin-right: span(3 static wide);
    }
  }

  .l-right-sidebar {
    @include span(last 3 static);
  }
}
