//
// Our custom mixins go here.
//

// This mixin initializes retina sprite maps so that they overwrite the default
// sprites on retina screens.
@mixin all-retina-sprites($map, $map2x) {
  @media (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {

    $base-class: sprite-map-name($map);

    .#{$base-class}-all-retina-sprites {
      background-image: sprite-url($map2x);
      @include background-size(ceil(image-width(sprite-path($map2x)) / 2) auto);
    }

    @each $sprite in sprite-names($map) {
      .#{$base-class}-#{$sprite} {
        @extend .#{$base-class}-all-retina-sprites;

        $position: sprite-position($map2x, $sprite);
        background-position: nth($position, 1) nth($position, 2) / 2;
      }
    }
  }
}

// Custom scrollbar theme for elements that have vertical overflow, such as
// playlists.
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar {
    background-color: #eee;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
  }

  &::-webkit-resizer {
    -webkit-border-radius: 4px;
    background-color: #666;
  }

  &::-webkit-scrollbar-thumb {
    min-height: 0.8em;
    min-width: 0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #888;
  }

  scrollbar-face-color: #bbb;
  scrollbar-highlight-color: transparent;
  scrollbar-shadow-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-arrow-color: #333;
  scrollbar-track-color: transparent;
  scrollbar-darkshadow-color: transparent;
}
