/* ==========================================================================
  Variables
  ========================================================================== */

// Color (Taken from our brand guide)
$white: #fff;
$charcoal: #333;
$lightCharcoal: #666;
$lightestCharcoal: #999;
$blue: #137cc1;
$darkBlue: #00293f;
$orange: #fd7037;
$silver: #f5f5f5;
$silverBorder: #e6e6e6;
$green: #00be4c;
$red: #c60e00;

// Font
$bodyFontFamily: "proxima-nova", Helvetica, Arial, Tahoma, sans-serif;
$bodyFontSize: 16px;
$smallFontSize: 0.875em;
$lineHeight: 1.6;

// Layout
$siteWidth: 67.5em; // 1080px
$breakpointMedium: 48em; // 768px, breakpoint for medium screen widths.

// Other
$globalRadius: 5px;